.navbar {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	align-content: center;
	align-items: center;
	background-color: rgb(17, 17, 17);
	min-height: 7rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	font-family: "Maven Pro", sans-serif;
	cursor: pointer;
	color: rgb(255, 255, 255);
}

.navbar--logo {
	color: rgb(255, 255, 255);
	z-index: 2;
	position: fixed;
	top: 0;
	margin-left: 1.5rem;
	font-size: 2em;
	margin-top: 2rem;
}

.navbar a {
	color: rgb(255, 255, 255);
	margin-right: 1rem;
  align-items: center;
}

.navbar--basket {
	font-size: xx-large;
  display: flex;
}

.navbar--counter {
	margin-right: 1rem;
	background-color: rgb(210, 110, 75);
	border-radius: 50%;
	font-size: 1rem;
  padding: 0.1rem 0.4rem;
  text-align: center;
  margin-left: -0.7rem;
}

@media (max-width: 768px) {
	.navbar {
		font-size: 0.9rem;
	}

	.navbar--logo {
		font-size: 1.4rem;
    padding-top: 0.5rem;
    margin-left: 1rem;
	}
}
