.navbar {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	align-content: center;
	align-items: center;
	background-color: rgb(17, 17, 17);
	min-height: 7rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	font-family: "Maven Pro", sans-serif;
	cursor: pointer;
	color: rgb(255, 255, 255);
}

.navbar--logo {
	color: rgb(255, 255, 255);
	z-index: 2;
	position: fixed;
	top: 0;
	margin-left: 1.5rem;
	font-size: 2em;
	margin-top: 2rem;
}

.navbar a {
	color: rgb(255, 255, 255);
	margin-right: 1rem;
}

.navbar--basket {
	font-size: xx-large;
}

.navbar--counter {
	margin-right: 1rem;
	background-color: rgb(210, 110, 75);
	border-radius: 50%;
	padding: 0.3rem 0.5rem;
	font-size: smaller;
	margin-left: -1.5rem;
}
