.shopping--cart--page {
	min-height: 100vh;
	padding-top: 8rem;
}

.shopping--cart {
	margin-top: 2rem;
	margin-left: 2rem;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(223, 223, 223);
	max-width: 400px;
	padding: 1rem;
}

.shopping--cart--count {
	padding-bottom: 1rem;
	border-bottom: 1px solid rgb(223, 223, 223);
}

.shopping--cart--total {
  	padding-top: 1rem;
	border-top: 1px solid rgb(223, 223, 223);
}

.shopping--cart--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping--cart--pay {
  background-color: rgb(17, 17, 17);
	color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.shopping--cart--pay--hide {
  display: none;
}

@media (max-width: 768px) {
	.shopping--cart {
		margin: 0 1rem;
	}
}
