@import "./styles/navbar.css";
@import "./styles/categories.css";
@import "./styles/product-card.css";
@import "./styles/products-list.css";

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(244, 244, 244);
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none !important;
}
